html { 
    background: url(https://bythax.org/wp-content/uploads/2011/09/PaintSwatches_1920x1234.jpg) ; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
background-attachment: fixed; 
}
header{
    background-image: url(http://maduvvareeschool.edu.mv/wp-content/uploads/header-2.png);
    margin-top: 0px;
   background-size: cover;
    width: 160px;
    position: fixed;
  
}
.logo{
  float: left;
  object-fit: 50%;
  width: 125px ;
  height: 125px;
  border-radius: 50%;
  opacity: 75%;
  margin: 10px;
}
.salmon{
  font-family: 'Monoton', cursive;

}
.best{
  font-family: 'Lemonada', cursive;
