@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada|Montserrat+Alternates&display=swap');

html { 
    background: url(https://bythax.org/wp-content/uploads/2011/09/PaintSwatches_1920x1234.jpg) ; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
background-attachment: fixed; 
}
header{
    background-image: url(http://maduvvareeschool.edu.mv/wp-content/uploads/header-2.png);
    margin-top: 0px;
   background-size: cover;
    width: 160px;
    position: fixed;
  
}
.logo{
  float: left;
  object-fit: 50%;
  width: 125px ;
  height: 125px;
  border-radius: 50%;
  opacity: 75%;
  margin: 10px;
}
.salmon{
  font-family: 'Monoton', cursive;

}
.best{
  font-family: 'Lemonada', cursive;
}
#newShop{
    margin: 50px;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 35px;
    color: rgb(192, 3, 3);
    font-weight: bold;
}
#add{
    padding-top: 45px ;
        font-size: 45px;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;

        color: rgb(145, 7, 7);
}
fieldset input:hover{
    cursor: pointer;
    color:rgb(21, 107, 141);
    transform: scale(1.1) ;
    transition: 150ms;


}
#submit{
    margin-top: 50px;
    padding: 25px;
    border-radius:30%;
    font-size: 20px;
    font-family: 'Lemonada', cursive;

    background-color: rgba(39, 156, 177, 0.75);

}
.value{
    padding: 20px;
    border-radius: 10%;

}
#salmon{
    text-align: right;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    font-family: 'Lemonada', cursive;

    color: rgb(141, 8, 8);
}
#salmon article{
    display: inline-block;
}
table{
    display: initial;

}
#salmon article table tr th{
    padding: 10px;
    font-weight: bold;
}

#salmon tr :last-child{
    font-weight: bold;
}
#salmon tr :first-child{
    font-weight: bold;
}
#salmon td:hover{
    cursor: pointer;
    color: rgb(17, 116, 161);
    transform: scale(1.3) ;
    transition: 60ms;


}
.home{
    text-align: center;
display: block;
background-color:rgb(212, 198, 10) ;
    padding:15px 25px 15px 25px;
    border-radius: 50px;
    margin-left: 50px;
    font-family: 'Lemonada', cursive;

}

